############################
# Python
############################

__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

############################
# Virtual environments
############################

venv/
.env/
.envrc
.venv/

############################
# Jupyter
############################

.ipynb_checkpoints

############################
# OS files
############################

.DS_Store
Thumbs.db

############################
# IDE
############################

.vscode/
.idea/

############################
# Logs
############################

*.log

############################
# AI / ML Models
############################

models/
*.pt
*.onnx
*.engine
*.weights

############################
# Video files
############################

*.mp4
*.mov
*.avi
*.mkv

############################
# Generated data
############################

downloads/
frames/
outputs/
exports/
save/
heatmaps/
metrics_out/

############################
# Temporary data
############################

temp/
tmp/

############################
# Dataset
############################

datasets/
data/